*{
   margin: 0;
   padding: 0;  
  }
  Body{
       background-color:#8f7d69 ;
       
      }

      .Container{
                max-width: 1000px;
              background-color: #dbf0ec;
                margin: 0 auto ;
              padding: 120px;
                
           
                }
      header{


              }
  .profile-image{
                 width: 100px;
                 height: 120px;
               border:3px solid white
               border-radius:50%;
               float:left;
            }    
  .header-bio{
               float:left;
               padding: 10px;

  }   
  h1,h2,h5{
                   color: rgb(238, 136, 58);


  }                 
   .header-contact{
                    float:right;
                    padding: 30px;
                  }   
 .header-contact a[
          text-decoration:none;
                    color:blue;
              font-weight:bold;


 ]
 .header-contact a:hover{
                text-decoration: underline ;         
                color:tomato

 }
 .clear-div{
              clear:both;

 }
hr{
   border:solid black 5px;
   width: 1010px;
   margin:20px auto;
   border-bottom: none;

}

#personal-section{


}

.content{
           margin-bottom: 30px;
}
.left-div{
            width: 30%;
            float:left;
}
.right-div{


                     


              width:30%;
              float:right ;

}
.common-hr{
            border:solid black 1px;    
             border-bottom: none;
             width:100%
             margin: 20px auto;
}

.education-left {
                   float: left;
                    width:50% ;
                  
               }

.education-right{ 
               float: right;
                width:50% ;
              
                   } 

.bottom-container{
               background-color: rgb(39, 34, 27);
                text-align: center;
               padding:10px ;
}

.bottom-container a{
                   color:white;
                    text-decoration:none ;
                      margin:20px;


}


.bottom-container p{
    color:white;
     
       margin-top:20px;


}

























